<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="{:config('site.keywords')}">
    <meta name="Description" content="{:config('site.description')}">
    <title>会员登录-{:config('site.title')}</title>
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/iconfont/iconfont.css" rel="stylesheet">
    <link href="{__TEMPLATE__}/pc/css/style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <!--头部-->
    {include file="header" /}
    <div class="ej_fg"></div>
    <div class="login_ctr">
        <div class="login_ctt">
            <form @submit.prevent="formSubmit">
            <div class="login_cell">
                <div class="login_title">会员登录</div>
                <div class="login_input_ctr">
                    <div class="login_input_txt">手机号</div>
                    <input name="m_uid" id="m_uid" class="login_input" placeholder="请输入11位手机号">
                </div>
                <div class="login_input_ctr">
                    <div class="login_input_txt">密码</div>
                    <input name="m_pwd" id="m_pwd" type="password" class="login_input" placeholder="请输入密码">
                </div>
                <div class="login_input_ctr">
                    <div class="login_input_txt">验证码</div>
                    <input name="m_captcha" id="m_captcha" class="login_input" placeholder="请输入验证码">
                    <div class="yzm_pic"><img id="captcha" src="{:captcha_src()}" alt="验证码" title="点击刷新验证码"></div>
                </div>
                <div class="login_input_ctr">
                    <div class="login_input_txt"></div>
                    <div class="login_agree">
                        <input type="submit" class="login_btn" value="登录">
                    </div>
                </div>
                <div class="login_txt">
                    <a href="register.html">还没有账户，点击注册！</a>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!--底部-->
    {include file="footer" /}
</div>
{include file="js" /}
</body>
</html>
<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                isLogin: 0,
                userInfo: {},
                cartNumber: 0,
            }
        },
        methods: {
            async initData() {
                let that = this;
                let res;
                //判断登录
                res = await httpPost('/api/v1.index.login/checkLogin.html')
                if(res.code === 0) {
                    that.isLogin = 1;
                    that.userInfo = res.data;
                }
                //记录访问
                let visitData = {};
                visitData.url = window.location.href;
                visitData.platform = 'web';
                visitData.goods_id = 0;
                visitData.user_id = that.isLogin ? that.userInfo.user_id : 0;
                visitData.ip = '{$ip}';
                await httpPost('/api/v1.index.visit/addPv.html',visitData);
                //获取购物车
                res = await httpGet('/api/v1.index.cart/getList.html',{
                    size:100
                })
                if(res.code === 0) {
                    that.cartNumber = res.goods_amount;
                }
            },
            /**
             * 提交
             */
            formSubmit() {
                let m_uid = $('#m_uid').val().replace(/\s+/g, "");
                let m_pwd = $('#m_pwd').val().replace(/\s+/g, "");
                let m_captcha = $('#m_captcha').val().replace(/\s+/g, "");
                if (m_uid === '') {
                    layer.msg('手机号为空');
                    return false;
                }
                if (m_pwd === '') {
                    layer.msg('密码为空');
                    return false;
                }
                if (m_captcha === '') {
                    layer.msg('验证码为空');
                    return false;
                }
                let pid = 0;
                let data = {
                    m_uid: m_uid,
                    m_pwd: m_pwd,
                    m_captcha: m_captcha,
                    pid: pid
                };
                httpPost('/api/v1.index.login/login.html',data).then(res=>{
                    if(res.code === 0) {
                        let lastUrl = localStorage.getItem('lastUrl') || '';
                        if(lastUrl === '' || lastUrl.indexOf('/login/') !== -1) {
                            location.href = '/';
                        } else {
                            location.href = lastUrl;
                        }
                    } else {
                        layer.msg(res.msg);
                    }
                });
            }
        },
        mounted() {
            let that = this;
            that.initData();
            //验证码
            $("#captcha").click(function () {
                $(this).attr("src","{:captcha_src()}?t="+new Date().getTime())
            });
            //获取来源页
            let sourcePage = document.referrer;
            localStorage.setItem('lastUrl', sourcePage);
        }
    }).mount('#app')
</script>