<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑菜单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
    <style>
        html {background: #fff;padding-top: 20px;}
    </style>
</head>
<body>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_title" lay-verify="required" value="{$data.title}" placeholder="请输入名称" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><span>*</span> </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">简称：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_subtitle" value="{$data.subtitle}" placeholder="请输入简称" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">一级菜单需填写</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属菜单：</label>
            <div class="layui-input-inline">
                <select name="m_parent_id">
                    <option value="0" {eq name="$data.parent_id" value="0"}selected{/eq}>一级菜单</option>
                    {volist name="adminMenu" id="menu"}
                    {lt name="$menu.deep" value="3"}
                    {neq name="$data.id" value="$menu.id"}
                    <option value="{$menu.id}" {eq name="$menu.id" value="$data.parent_id"}selected{/eq}>{neq name="$menu.parent_id" value="0"}&ensp;└&ensp;{/neq}{$menu.title}</option>
                    {/neq}
                    {/lt}
                    {/volist}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_ico" value="{$data.ico}" placeholder="请输入图标" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">一级菜单需填写</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访问控制器：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_controller" value="{$data.controller}" placeholder="请输入访问控制器" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">小写。如：AdminMenu填admin_menu</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访问方法：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_operation" value="{$data.operation}" placeholder="请输入访问方法" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">Index方法可不填写</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">其他允许方法：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_other_operation" value="{$data.other_operation}" placeholder="其他允许方法" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">如增、删、改。多个用“,”隔开</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-inline w80">
                <input type="number" name="m_px" lay-verify="number" value="{$data.sequence}" value="1" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="m_show" value="1" lay-text="是|否" {eq name="$data.is_show" value="1"}checked{/eq} lay-skin="switch">
            </div>
        </div>
        <input type="hidden" name="m_type" value="{$data.type}">
        <input type="hidden" name="m_id" value="{$data.id}">
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-submit" id="LAY-submit" value="确认">
        </div>
    </div>
</body>
</html>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>