<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
    <style>
        html {background: #fff;padding-top: 20px;}
    </style>
</head>
<body>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_uid" value="{$data.uid}" placeholder="请输入用户名" lay-verify="required" lay-reqText="用户名为空" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><span>*</span></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="m_pwd" placeholder="不改请不填写" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="m_vpwd" placeholder="不改请不填写" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属角色：</label>
            <div class="layui-input-inline">
                <select name="m_role">
                    <option value="0">超级管理员</option>
                    {volist name="roleList" id="role"}
                    <option value="{$role.id}" {eq name="$role.id" value="$data->getData('role_id')"}selected{/eq}>{$role.title}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否激活：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="m_work" value="1" lay-text="是|否" {eq name="$data.is_work" value="1"}checked{/eq} lay-skin="switch">
            </div>
        </div>
        <input type="hidden" name="m_id" value="{$data.id}">
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-submit" id="LAY-submit" value="确认">
        </div>
    </div>
</body>
</html>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>