<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>短信设置</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
	<style>
		.span_note,.span_note a {
			color: #999;
		}
		.span_note a:hover {
			text-decoration: underline;
		}
	</style>
</head>
<body>
<div class="layui-fluid">
	<form class="layui-form" style="padding-bottom: 45px;">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-tab layui-tab-brief">
					<ul class="layui-tab-title">
						<li class="layui-this">短信设置</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<div class="layui-form-item">
								<label class="layui-form-label">短信接口：</label>
								<div class="layui-input-inline w120">
									<select name="m_type">
										<option value="0" {eq name="$sms.type" value="0"}selected{/eq}>腾讯云</option>
									</select>
								</div>
								<div class="layui-form-mid layui-word-aux span_note"><a href="https://cloud.tencent.com/product/sms" target="_blank">申请地址</a></div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label"><span>*</span> appID：</label>
								<div class="layui-input-inline">
									<input type="text" name="m_app_code" lay-verify="required" placeholder="请输入应用appID" value="{$sms.appCode}" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux span_note"><a href="https://console.cloud.tencent.com/smsv2/app-manage" target="_blank">应用管理-应用列表中获取</a></div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label"><span>*</span> appKey：</label>
								<div class="layui-input-inline">
									<input type="text" name="m_app_secret" lay-verify="required" placeholder="请输入应用appKey" value="{$sms.appSecret}" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux span_note"><a href="https://console.cloud.tencent.com/smsv2/app-manage" target="_blank">应用管理-应用列表中获取</a></div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label"><span>*</span> 短信签名：</label>
								<div class="layui-input-inline">
									<input type="text" name="m_sign_id" lay-verify="required" placeholder="请输入签名" value="{$sms.signId}" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux span_note"><a href="https://console.cloud.tencent.com/smsv2/csms-sign" target="_blank">如：IdeaCMS，短信服务-签名管理中获取</a></div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label"><span>*</span> 验证码模板ID：</label>
								<div class="layui-input-inline">
									<input type="text" name="m_code_template_id" lay-verify="required" placeholder="请输入模板ID" value="{$sms.codeTemplateId}" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux span_note"><a href="https://console.cloud.tencent.com/smsv2/csms-template" target="_blank">短信服务-模板管理中获取</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m_footer">
			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-submit">提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
    </form>
</div>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>
<script>
	layui.config({
		base: '{__STATIC__}/layuiAdmin/' // 静态资源所在路径
	}).use(['index','form'], function(){
		let $ = layui.$;
		let layer = layui.layer;
		let form = layui.form;

		/* 监听提交 */
		form.on('submit(LAY-submit)', function(data){
			let field = data.field; //获取提交的字段
			$.ajax({
				type:"post",
				url:"saveSms.html",
				data: {
					m_type:field.m_type,
					m_app_code:field.m_app_code,
					m_app_secret:field.m_app_secret,
					m_sign_id:field.m_sign_id,
					m_code_template_id:field.m_code_template_id
				},
				dataType:"json",
				beforeSend: function () {
					layer.load(1);
				},
				success:function(res){
					layer.closeAll(); //关闭弹层
					if(res.code == 0){
						layer.msg('修改成功', {
							time: 2000
						}, function(){
							location.reload();
						});
					}
					else {
						layer.msg(res.msg);
					}
				}
			});
			return false;
		});
	});
</script>
</body>
</html>