<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>协议设置</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
	<style>
		.ck-editor__editable_inline {
			height: 500px !important;
		}
	</style>
</head>
<body>
<div class="layui-fluid">
	<form class="layui-form" style="padding-bottom: 45px;">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-tab layui-tab-brief">
					<ul class="layui-tab-title">
						<li class="layui-this">用户协议</li>
						<li>隐私协议</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<div class="layui-form-item">
								<textarea id="user_editor">{:config('agreement.user')}</textarea>
								<textarea id="m_user_info" name="m_user_info" style="display: none;">{:config('agreement.user')}</textarea>
							</div>
						</div>
						<div class="layui-tab-item">
							<div class="layui-form-item">
								<textarea id="privacy_editor">{:config('agreement.privacy')}</textarea>
								<textarea id="m_privacy_info" name="m_privacy_info" style="display: none;">{:config('agreement.privacy')}</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m_footer">
			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-submit">提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
    </form>
</div>
</body>
</html>
<script src="{__STATIC__}/ckeditor5/ckeditor.js"></script>
<script src="{__STATIC__}/ckeditor5/upload.js"></script>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>
<script>
	//初始化用户协议
	ClassicEditor
		.create(document.querySelector('#user_editor'), {
			placeholder:"在这里输入或粘贴内容",
			extraPlugins: [ MyCustomUploadAdapterPlugin ]
		})
		.then(editor => {
			window.editor = editor;
			//监听内容变化
			editor.model.document.on('change:data', function () {
				document.getElementById("m_user_info").value = editor.getData();
			});
		})
		.catch(error => {
			console.error(error);
		});
	//初始化隐私协议
	ClassicEditor
		.create(document.querySelector('#privacy_editor'), {
			placeholder:"在这里输入或粘贴内容",
			extraPlugins: [ MyCustomUploadAdapterPlugin ]
		})
		.then(editor => {
			window.editor = editor;
			//监听内容变化
			editor.model.document.on('change:data', function () {
				document.getElementById("m_privacy_info").value = editor.getData();
			});
		})
		.catch(error => {
			console.error(error);
		});

	function MyCustomUploadAdapterPlugin( editor ) {
		editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
			// 在这里将URL配置为后端上载脚本
			let url = "{:url('upload/index')}?dir=article";
			return new MyUploadAdapter( loader,url );
		};
	}

	layui.config({
		base: '{__STATIC__}/layuiAdmin/' // 静态资源所在路径
	}).use(['index','form'], function(){
		let $ = layui.$;
		let layer = layui.layer;
		let form = layui.form;

		/* 监听提交 */
		form.on('submit(LAY-submit)', function(data){
			let field = data.field; //获取提交的字段
			$.ajax({
				type:"post",
				url:"saveAgreement.html",
				data: {
					m_user_info:field.m_user_info,
					m_privacy_info:field.m_privacy_info
				},
				dataType:"json",
				beforeSend: function () {
					layer.load(1);
				},
				success:function(res){
					layer.closeAll(); //关闭弹层
					if(res.code == 0){
						layer.msg('修改成功', {
							time: 2000
						}, function(){
							location.reload();
						});
					}
					else {
						layer.msg(res.msg);
					}
				}
			});
			return false;
		});
	});
</script>