<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>指定发放</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
    <style>
        html {background: #fff;padding-top: 20px;}
    </style>
</head>
<body>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">优惠券：</label>
            <div class="layui-form-mid layui-word-aux">{$data.title}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">会员ID：</label>
            <div class="layui-input-inline w120">
                <input type="text" name="m_uid" lay-verify="number" value="0" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">会员列表中查询</div>
        </div>
        <input type="hidden" name="m_coupon_id" value="{$data.id}">
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-submit" id="LAY-submit" value="确认">
        </div>
    </div>
</body>
</html>

<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>
