<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>调整价格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
    <style>
        html {background: #fff;padding-top: 20px;}
    </style>
</head>
<body>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span> 调整运费</label>
            <div class="layui-input-inline w160">
                <input type="text" name="m_express_price" lay-verify="number" lay-reqText="请输入运费" placeholder="请输入运费" value="{$data.express_price}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">实际运费</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span> 价格调整</label>
            <div class="layui-input-inline w160">
                <input type="text" name="m_trim_price" lay-verify="number" lay-reqText="请输入微调价格" placeholder="请输入微调价格" value="{$data.trim_price}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">负数表示减少</div>
        </div>
        <input type="hidden" name="m_id" value="{$data.id}">
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-submit" id="LAY-submit" value="确认">
        </div>
    </div>
</body>
</html>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>