<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品评价</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button class="layui-btn layui-btn-normal btn-top" data-type="add">添加评价</button>
					<button class="layui-btn layui-btn-info btn-top" data-type="batchDel">批量删除</button>
					<div class="layui-form search_ctr">
						<div class="layui-form-item">
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" name="keys" placeholder="输入会员昵称查询" class="layui-input">
								</div>
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-search">查询</button>
							</div>
						</div>
					</div>
				</div>

				<table id="LAY-table" lay-filter="LAY-table"></table>
				<script type="text/html" id="show">
					<input type="checkbox" name="switch" lay-skin="switch" lay-text="是|否" value= {{ d.id }} lay-filter="isShow" {{#  if(d.is_show == 1){ }}checked{{#  } }}>
				</script>
				<script type="text/html" id="tableBar">
					<a class="link-text" lay-event="edit">查看</a>
					<div class="link-line"></div>
					<a class="link-text" lay-event="reply">回复</a>
					<div class="link-line"></div>
					<a class="link-text" lay-event="del">删除</a>
				</script>

			</div>
		</div>
	</div>
</body>
</html>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>
<script>
	layui.config({
		base: '{__STATIC__}/layuiAdmin/' // 静态资源所在路径
	}).use(['index', 'layer', 'table', 'form'], function(){
		let $ = layui.$;
		let layer = layui.layer;
		let table = layui.table;
		let form = layui.form;

		//初始化列表
		table.render({
			elem: '#LAY-table'
			,url: "{:url('getList')}"
			,cols: [[
				{type: 'checkbox', fixed: 'left'}
				,{field: 'id', width: 80, title: 'ID', sort: true}
				,{field: 'goods_title', width:250, title: '商品标题'}
				,{field: 'user_name', width:150, title: '会员昵称'}
				,{field: 'info', minWidth: 200, title: '评价内容'}
				,{field: 'reply_info', width: 200, title: '回复内容'}
				,{field: 'rate', width: 90, title: '评分', align:'center'}
				,{field: 'is_show', width: 90, title: '显示', templet: '#show', align:'center', sort: true}
				,{field: 'add_date', width: 180, title: '评价时间'}
				,{title: '操作', width: 156, align:'center', fixed: 'right', toolbar: '#tableBar'}
			]]
			,page: true
			,limit: 20
			,height: 'full-100'
			,text: {none: '暂无相关数据'}
		});

		//监听是否显示
		form.on('switch(isShow)', function(data){
			let switchData = data;
			let m_txt = '真的要取消显示吗？';
			let is_show = 0;
			if(data.elem.checked) {
				is_show = 1;
				m_txt = '真的要显示吗？';
			}
			layer.confirm(m_txt, function(index){
				$.ajax({
					type:"post",
					url:"{:url('setShow')}",
					data: {
						m_id:data.value,
						m_show:is_show
					},
					dataType:"json",
					beforeSend: function () {
						layer.load(1);
					},
					success:function(res){
						layer.closeAll();
						if(res.code != 0){
							let em = $(switchData.othis[0]);
							if(data.elem.checked) {
								//修改switch开关为关闭状态
								data.elem.checked = false;
								switchData.othis[0].classList.remove('layui-form-onswitch');
								em.children('em').text('否');
							}
							else {
								//修改switch开关为选中状态
								data.elem.checked = true;
								switchData.othis[0].classList.add('layui-form-onswitch');
								em.children('em').text('是');
							}
							layer.msg(res.msg);
						}
					}
				});

			}, function(index){
				let em = $(switchData.othis[0]);
				if(data.elem.checked) {
					//修改switch开关为关闭状态
					data.elem.checked = false;
					switchData.othis[0].classList.remove('layui-form-onswitch');
					em.children('em').text('否');
				}
				else {
					//修改switch开关为选中状态
					data.elem.checked = true;
					switchData.othis[0].classList.add('layui-form-onswitch');
					em.children('em').text('是');
				}
			});
		});

		//监听搜索
		form.on('submit(LAY-search)', function(data){
			let field = data.field;
			//执行重载
			table.reload('LAY-table', {
				url: "{:url('getList')}"
				,where: field
				,page: {
					curr: 1 //重新从第 1 页开始
				}
			});
		});

		//表格内操作按钮
		table.on('tool(LAY-table)', function(obj){
			let data = obj.data;
			if(obj.event === 'del'){
				layer.confirm('真的删除行么', function(index){
					$.ajax({
						type:"post",
						url:"{:url('delete')}",
						data: {
							m_id:data.id
						},
						dataType:"json",
						beforeSend: function () {
							layer.load(1);
						},
						success:function(res){
							layer.closeAll();
							if(res.code == 0){
								if(res.msg == 'success') {
									obj.del();
									layer.msg('删除成功');
								} else {
									layer.msg(res.msg);
								}
							}
							else {
								layer.msg(res.msg);
							}
						}
					});

				});
			} else if(obj.event === 'edit'){
				layer.open({
					type: 2
					,title: '查看评价'
					,content: "{:url('edit')}?id=" + data.id
					,maxmin: true
					,area: ['750px', '90%']
					,btn: ['确定', '取消']
				});
			} else if(obj.event === 'reply'){
				layer.open({
					type: 2
					,title: '回复内容'
					,content: "{:url('reply')}?id=" + data.id
					,maxmin: true
					,area: ['750px', '260px']
					,btn: ['确定', '取消']
					,yes: function(index, layero){
						let iframeWindow = window['layui-layer-iframe'+ index];
						let submitID = 'LAY-submit';
						let submit = layero.find('iframe').contents().find('#'+ submitID);

						//监听提交
						iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
							let field = data.field; //获取提交的字段

							//提交 Ajax 成功后，静态更新表格中的数据
							$.ajax({
								type:"post",
								url:"{:url('save')}",
								data: {
									m_reply_info:field.m_reply_info,
									m_reply_date:field.m_reply_date,
									m_id:field.m_id
								},
								dataType:"json",
								beforeSend: function () {
									layer.load(1);
								},
								success:function(res){
									layer.close(layer.index);
									if(res.code == 0){
										layer.closeAll();
										table.reload('LAY-table',{where: {time:new Date()}}); //数据刷新
									}
									else {
										layer.msg(res.msg);
									}
								}
							});

						});

						submit.trigger('click');
					}
				});
			}
		});

		//头部操作按钮
		$('.btn-top').on('click', function(){
			let type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});

		let active = {
			batchDel: function(){
				let checkStatus = table.checkStatus('LAY-table');
				let checkData = checkStatus.data //得到选中的数据
				let ids = "0";
				if(checkData.length === 0){
					return layer.msg('请选择数据');
				}
				$.each(checkData,function(key,value){
					ids = ids + "," + checkData[key]['id'];
				});
				layer.confirm('确定删除吗？', function(index) {
					$.ajax({
						type:"post",
						url:"{:url('delete')}",
						data: {
							m_id:ids
						},
						dataType:"json",
						beforeSend: function () {
							layer.load(1);
						},
						success:function(res){
							layer.closeAll();
							if(res.code == 0){
								let msg = res.msg == 'success' ? '删除成功' : res.msg;
								layer.msg(msg, {
									time: 2000
								}, function(){
									table.reload('LAY-table',{where: {time:new Date()}}); //数据刷新
								});
							}
							else {
								layer.msg(res.msg);
							}
						}
					});
				});
			}
			,add: function(){
				layer.open({
					type: 2
					,title: '添加评价'
					,content: "{:url('create')}"
					,maxmin: true
					,area: ['750px', '90%']
					,btn: ['确定', '取消']
					,yes: function(index, layero){
						let iframeWindow = window['layui-layer-iframe'+ index];
						let submitID = 'LAY-submit';
						let submit = layero.find('iframe').contents().find('#'+ submitID);

						//监听提交
						iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
							let field = data.field; //获取提交的字段
							//图片
							let m_slide = [];
							$.each(field, function(key, val) {
								if(key.indexOf("m_slide") != -1){
									m_slide.push(val);
								}
							});
							m_slide = m_slide.toString();

							//提交 Ajax 成功后，静态更新表格中的数据
							$.ajax({
								type:"post",
								url:"{:url('save')}",
								data: {
									m_goods_id:field.m_goods_id,
									m_user_name:field.m_user_name,
									m_info:field.m_info,
									m_pic:m_slide,
									m_add_date:field.m_add_date,
									m_goods_rate:field.m_goods_rate,
									m_express_rate:field.m_express_rate,
									m_service_rate:field.m_service_rate,
									m_show:1
								},
								dataType:"json",
								beforeSend: function () {
									layer.load(1);
								},
								success:function(res){
									layer.close(layer.index);
									if(res.code == 0){
										layer.closeAll();
										table.reload('LAY-table',{where: {time:new Date()}}); //数据刷新
									}
									else {
										layer.msg(res.msg);
									}
								}
							});
						});
						submit.trigger('click');
					}
				});
			}
		};

	});
</script>