<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查看评价</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
    <style>
        html {background: #fff;padding-top: 20px;}
        .layui-word-aux {color: #666 !important;}
        .comment_pic {margin:10px 10px 0 0;float: left;width: 70px;height: 70px;border: 1px #eee solid}
        .comment_pic img {width: 100%;}
    </style>
</head>
<body>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称：</label>
            <div class="layui-form-mid layui-word-aux">{:getGoodsInfo($data.goods_id)['title']}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">会员昵称：</label>
            <div class="layui-form-mid layui-word-aux">{$data.user_name}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">评价内容：</label>
            <div class="layui-input-block">
                <div class="m_ctr" style="color: #666;padding-top: 9px;">{$data.info}</div>
                <div class="m_ctr">
                    {gt name=":count($data.pic)" value="0"}
                    {volist name="$data.pic" id="vo"}
                    <div class="comment_pic"><a href="{:getPic($vo)}" target="_blank"><img src="{:getPic($vo)}"></a></div>
                    {/volist}
                    {/gt}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品评分：</label>
            <div class="layui-form-mid layui-word-aux">{$data.goods_rate}分</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">物流评分：</label>
            <div class="layui-form-mid layui-word-aux">{$data.express_rate}分</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务评分：</label>
            <div class="layui-form-mid layui-word-aux">{$data.service_rate}分</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">评价时间：</label>
            <div class="layui-form-mid layui-word-aux">{$data.add_date}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回复内容：</label>
            <div class="layui-input-block">
                <div class="m_ctr" style="color: #666;padding: 9px 0;">{$data.reply_info}</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回复时间：</label>
            <div class="layui-form-mid layui-word-aux">{$data.reply_date}</div>
        </div>
    </div>
</body>
</html>