<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>退款详情</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
	<link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
	<style>
		html {
			background: #fff;
			padding: 20px;
			box-sizing: border-box
		}
		.layui-table tbody td {
			height: 22px;
			line-height: 22px;
		}
		.goods tbody td {
			height: 44px !important;
		}
		td img {
			width: 44px !important;
			height: 44px !important;
		}
		.refund_pic {
			margin:10px 10px 0 0;
			float: left;
			width: 70px;
			height: 70px;
			border: 1px #eee solid
		}
		.refund_pic img {
			width: 70px !important;
			height: 70px !important;
		}
	</style>
</head>
<body>
    <div class="layui-form">
		<div class="layui-form-item">
			<div class="m_ctr"><strong>退款信息</strong></div>
			<div class="m_ctr">
				<table class="layui-table">
					<colgroup>
						<col width="10%">
						<col width="23%">
						<col width="10%">
						<col width="23%">
						<col width="10%">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<td align="right"><span>退款单号:</span></td>
						<td>{$data.sn}</td>
						<td align="right"><span>所属订单:</span></td>
						<td>{$data.order.order_sn}</td>
						<td align="right"><span>会员/ID:</span></td>
						<td>{:getUserLevel($data.user_id)['uid']}/{$data.user_id}</td>
					</tr>
					<tr>
						<td align="right"><span>退款类型:</span></td>
						<td>
							{eq name="$data.type" value="1"}仅退款{/eq}
							{eq name="$data.type" value="2"}退货退款{/eq}
						</td>
						<td align="right"><span>退款原因:</span></td>
						<td>{$data.reason}</td>
						<td align="right"><span>退款金额:</span></td>
						<td>￥{$data.price} / {$data.integral} 积分</td>
					</tr>
					<tr>
						<td align="right"><span>补充描述:</span></td>
						<td colspan="5">{$data.info}</td>
					</tr>
					<tr>
						<td align="right"><span>凭证图片:</span></td>
						<td colspan="5">
							{volist name="$data.pic" id="vo"}
							<div class="refund_pic"><a href="{:getPic($vo)}" target="_blank"><img src="{:getPic($vo)}"></a></div>
							{/volist}
						</td>
					</tr>
					<tr>
						<td align="right"><span>退款状态:</span></td>
						<td>
							{eq name="$data.state" value="0"}退款中{/eq}
							{eq name="$data.state" value="1"}已成功{/eq}
							{eq name="$data.state" value="-1"}已驳回{/eq}
							{eq name="$data.state" value="-2"}已取消{/eq}
						</td>
						<td align="right"><span>申请时间:</span></td>
						<td>{$data.add_date}</td>
						<td align="right"><span>处理时间:</span></td>
						<td>{$data.reply_date}</td>
					</tr>
					<tr>
						<td align="right"><span>处理意见:</span></td>
						<td colspan="5">{$data.reply_info}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="m_ctr"><strong>商品信息</strong></div>
			<div class="m_ctr">
				<table class="layui-table goods">
					<colgroup>
						<col width="80px">
						<col>
						<col width="15%">
						<col width="10%">
						<col width="10%">
						<col width="8%">
					</colgroup>
					<thead>
					<tr>
						<th>图片</th>
						<th>商品名称</th>
						<th>商品规格</th>
						<th>数量</th>
						<th>单品价格</th>
						<th>状态</th>
					</tr>
					</thead>
					<tbody>
					{volist name="$data.goods_list" id="vo"}
					<tr>
						<td><img src="{:getPic(getGoodsInfo($vo.goods_id)['pic'])}"></td>
						<td>{:getGoodsInfo($vo.goods_id)['title']}</td>
						<td>{$vo.spec_key_name}</td>
						<td>{$vo.amount}</td>
						<td>{$vo.price}</td>
						<td>
							{eq name="vo.state" value="0"}正常{/eq}
							{eq name="vo.state" value="1"}退款中{/eq}
							{eq name="vo.state" value="2"}已退款{/eq}
						</td>
					</tr>
					{/volist}
					</tbody>
				</table>
			</div>
		</div>

	</div>
</body>
</html>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>