<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑服务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{__STATIC__}/layuiAdmin/layui/css/layui.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/adminui/dist/css/admin.css" rel="stylesheet">
    <link href="{__STATIC__}/layuiAdmin/style/style.css" rel="stylesheet">
    <style>
        html {background: #fff;padding-top: 20px;}
    </style>
</head>
<body>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span> 名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="m_title" value="{$data.title}" placeholder="请输入名称" lay-verify="required" lay-reqText="名称为空" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span> 描述：</label>
            <div class="layui-input-block">
                <textarea name="m_info" placeholder="请输入描述" lay-verify="required" lay-reqText="描述为空" class="layui-textarea">{$data.info}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span> 排序：</label>
            <div class="layui-input-inline w80">
                <input type="number" name="m_px" lay-verify="number" value="{$data.sequence}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">越大越靠前</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="m_show" value="1" lay-text="是|否" {eq name="$data.is_show" value="1"}checked{/eq} lay-skin="switch">
            </div>
        </div>
        <input type="hidden" name="m_id" value="{$data.id}">
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-submit" id="LAY-submit" value="确认">
        </div>
    </div>
</body>
</html>
<script src="{__STATIC__}/layuiAdmin/layui/layui.js"></script>